/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(0, 0, 0);  
    float: right;
    
    color: #ffffff;
    font-family: Copperplate, Papyrus, fantasy;
}


main {
    margin: 0 auto;
    width: 800px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(255, 255, 255);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(5, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: skyblue;
}

nav li a.active {
    background-color: skyblue;
}
.artiesttekst {
  color:rgb(255, 255, 255);
  width: 500px;
  
}

.artiestplaatje {
  width: 300px;
  float:left;
  margin:10px
}
.naartiest {
  clear:both;}

  .video{
    width:450px;
    height:450px;
   
  }

 

  






